.site__header {
    &.main {
        background-image: url("/src/assets/backgroundMovil.avif");
        background-repeat: no-repeat;
        height: 60vh;
        .link {
            color: $white;
        }
        @include tablet {
            height: 40vh;
            max-width: none;
            padding: 0 3rem;
            justify-content: space-around;
        }
    }
}
.header__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }
}
.logo__text {
    margin: 1rem 0;
    color: $brown;
    span {
        color: $purple;
    }
}

.header__info {
    text-align: center;
    color: $white;
    p {
        font-size: 1.5rem;
    }

    @include tablet {
        color: $blac;
    }
}

/* span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 34ch;
  animation: typing 2s steps(34), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
}

@keyframes typing {
from {
  width: 0;
}
}

@keyframes blink {
50% {
  border-color: transparent;
}
}
 */
