.navbar{
	display: flex;
	flex-direction: column;

	@include tablet{
		flex-direction: row;
		justify-content: space-around;
	}

	.link {
		margin: 1rem 0;
		font-size: 1.78rem;
		transition: all .2s ease-in-out;
		color: $blac;
		@include tablet{
			margin: 0 1rem;
		}
		&:hover{
			color: $primary-red;
			text-decoration: underline;
		}
	}
}