@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin grid ($columns, $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}