// Colors
$white: #ffffff;
$blac: #000;
$bgcolor: #d3e4cd;
$primary-red: #c37b89;

$purple: #B1B2FF;
$brown: #a0937d;
$yellow: #FFE9AE;
$orange: #FBC6A4;

// Font Families
$normal: "Poppins", sans-serif;
$titles: "Indie Flower", cursive;
// Fonts
$light: 300;
$regular: 400;
$medium: 600;

// Seperations
$separation: 5rem;

// Queries
$phone: 520px;
$tablet: 768px;
$desktop: 1024px;
